<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <!-- <link rel="stylesheet" href="/static/css/style.css"> -->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
{% include "navbar.html" %}

<div class="container">
    <h2>About Us</h2>
    <p>Welcome to CattleMarket, your digital platform for buying, selling, and managing cattle.</p>
    <p>Our mission is to revolutionize cattle trading by providing a seamless and transparent experience.</p>
</div>
</body>
</html>